 body {
            background-image: url(img.bootcamp.jpg);
            font-family: arial,sans-serif;
            background-color: #f8f9fa;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
        }

        .container, .about {
            max-width: 400px;
            margin: 40px auto;
            padding: 20px;
            background-color: #fff;
            border: 1px #ddd;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);\
            
        }

        .include {
            margin-bottom: 20px;  
        }

        label{
            display: block;
            margin-bottom: 10px;
        }

        input,select {
            width: 80%;
            height: 20px;
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button{
            width: 100px;
            height: 40px;
            background-color: #d9534f;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #c9302c;
        }
    